body, div, span {
    color:white;
}
body {
    background-color: #1b1919;
}
.card-header {
    background-color: #008080;
}
.card-body {
    background-color: #323232;
}
.modal-content {
    background-color: #333333;
}
table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
}
.col-12 {
    margin-top: 5px;
    margin-bottom: 5px;
}
.load-rotate {
  animation: rotation 3s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
