<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="shortcut icon" href="static/assets/favicon.ico">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
    <link rel="stylesheet" href="static/assets/dark.css" />
    <title>npFontUnity | Unify Nepali font faces</title>
</head>
<body>
    <div class="container container-fluid" style="padding-top: 50px;">
        <div class="row" align="center">
            <img src="static/assets/logo.svg" alt="UniFy TT Icon" class="img-fluid rounded mx-auto d-block" height="216px" width="216px" />
        </div>
        <br />
        <div class="card">
            <div class="card-header" align="center">
                Unify Nepali font faces
            </div>
            <div class="card-body">
                <div align="center" class="document-upload-card">
                    <div class="col-lg-6 col-sm-6 col-12">
                        <h4>Select file to convert</h4>
                        <label class="input-group-btn">
                            <span>
                                <img src="static/assets/upload-bg.svg" /> <input class="document-upload" id="document-upload" type="file" style="display: none;" accept=".txt, .docx" />
                                <br />
                                Click to browse file
                            </span>
                        </label>
                        <p>
                            <small>** This is a server sided tool! Do not upload your files if they are confidential! Use desktop app instead**</small>
                        </p>
                    </div>
                    <br />
                </div>
                <div align="center" class="document-download-card" style="display: none;">
                    <div class="col-lg-6 col-sm-6 col-12">
                        <img src="static/assets/btn-download.svg" class="img img-fluid" height="128px" width="128px" />
                        <br />
                        <br />
                        <a href="#" id="filedownloadlink" class="btn btn-success"> Click here to download </a>
                        <br />
                        <p>
                            <small>** Download link is valid for 60 minute since the document upload **</small>
                        </p>
                        <a href="/" class="btn btn-primary btn-small"> Process another document </a>
                    </div>
                    <br />
                </div>
                <div align="center" class="wait-notice" style="display: none;">
                    <div class="col-lg-6 col-sm-6 col-12">
                        <h3>Processing your request</h3>
                        <img src="static/assets/wait.svg" class="img img-fluid" height="128px" width="128px" />
                        <br />
                        <br />
                        <a href="" class="btn btn-primary btn-small"> Cancel and Reload </a>
                    </div>
                    <br />
                </div>

                <div class="row font-selection-card" style="display: none;">
                    <div class="col-md-7 col-sm-12 col-7">
                        <div class="card h-100">
                            <div class="card-header">
                                Select Font mapping
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-7 col-sm-12 col-7">
                                        <div class="card h-100">
                                            <div class="card-header">
                                                Map From
                                            </div>
                                            <div class="card-body origin-selection">

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-5 col-sm-12 col-5">
                                        <div class="card h-100">
                                            <div class="card-header">
                                                Map To
                                            </div>
                                            <div class="card-body target-selection">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-12 col-5">
                        <div class="card h-100">
                            <div class="card-header">
                                Select components to process
                            </div>
                            <div class="card-body component-selection">
                                <input type="checkbox" id="component_1" name="process_components" class="process_components" value="body_paragraph" checked>
                                <label for="component_1"> Body Paragraphs (Normal Paragraphs in document) </label><br>
                                <input type="checkbox" id="component_2" name="process_components" class="process_components" value="table" checked>
                                <label for="component_2"> Tables </label><br>
                                <input type="checkbox" id="component_3" name="process_components" class="process_components" value="shape" checked>
                                <label for="component_3"> Shapes and Text boxes </label><br>
                            </div>
                        </div>
                    </div>
                    &nbsp;
                    <button id="processdocument" class="btn btn-primary" style="width: 100%; padding-top: 5px">Convert document</button>
                </div>
            </div>
        </div>
        <hr />
        <div class="bottom-panel text-center">
            <div class="row">
                <div class="col">
                    <button class="btn btn-link" data-toggle="modal" data-target="#show-modal-about">About/Help</button>
                </div>
                <div class="col">
                    <a href="static/Demo.docx" class="btn btn-link">Download demo document</a>
                </div>
                <div class="col">
                    <a href="https://github.com/trippygeese/npFontUnify" class="btn btn-link">Github</a>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade modal-notice" id="noticemodal " tabindex="-1" role="dialog" aria-labelledby="noticemodal" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body modal-notice-content">
                        <div class="row align-items-center text-center">
                            <div class="col-3">
                                <img src="static/assets/error.svg" id="modal-notice-image" height="96px" width="96px" />
                            </div>
                            <div class="col" id="modal-notice-text">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade bd-example-modal-lg show-modal-about" tabindex="-1" id="show-modal-about" role="dialog" aria-labelledby="show-modal-about" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">About/Help</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="card">
                    <div class="card-header">
                        npFontUnify by @trippygeese
                    </div>
                    <div class="card-body">
                        <p>
                            npFontUnify is a simple web based application to unify Nepali ASCII Font faces in a docx or a txt files.
                        </p>
                        <p>
                            With npFontUnify you can easily convert your documents typed in Preeti, Sagarmatha, PCS Nepali or Kantipur to Devanagari Unicode or Preeti. Simply start by Uploading your document by clicking the upload
                            button. If your document is supported, you will get to choose the Map from and Map to list. You can choose Autodetect which will find the all supported fonts within the
                            document and convert them to Unicode/Preeti while keeping non Nepali fonts as it is or you can force an origin font by which all the text in document will be taken as selected font and will be mapped to Unicode
                        </p>
                        <h3><b> How to use </b></h3>
                        <b>1) Click on Upload icon </b><br>
                        <b>2) Browse your file and upload it </b><br>
                        <b>3.a) If your file is ".txt" select the font mapping which should be used (From font -> To font) </b><br>
                        <b>3.b) If your file is ".docx" select the font mapping which should be used or better use the "Auto" Option to auto convert supported font while keeping other font intact</b><br>
                        <b>4) If your file is ".docx" select the components which should be processed </b><br>
                        <b>5) Wait ! If any errors report </b><br>
                        <b>6) Click download icon </b><br>
                        <p>
                            Note: This tool can convert text on paragraphs, text boxes/shapes and tables only as of now, headers/footers or everything else may be ignored.
                        </p>
                        <p>
                            <b> <u>If you encounter any problem or have any suggestions open an issue on github. (Github link in footer ) </u></b>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="static/assets/main.js"></script>
</body>
</html>
